name: Build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
  pull_request:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-22.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v4.2.2

      # Running golangci-lint
      - name: Linting
        if: matrix.lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.41

      # Install Go
      - name: Setup go
        uses: actions/setup-go@v5.1.0
        with:
          go-version: 1.21.3

      - name: Build
        run: go build -v ./...

      - name: Test
        # We need GCC because of the "go test -race"
        # env:
        #   CGO_ENABLED: 0
        run: |
          apt-get update && apt-get install gcc -y
          go test -race -v ./...
